[submodule "iti-271215-poo-practica-1-AngeloChispa"]
	path ="UPV/Sexto Cuatri/POO/Unidad 1/iti-271215-poo-practica-1-AngeloChispa"
	url = https://github.com/UPV-Programacion-Orientada-a-Objetos/iti-271215-poo-practica-1-AngeloChispa.git
[submodule "syllabus"]
	path = /home/yisuscena/Escritorio/Carpetas/UPV/Sexto Cuatri/POO/Unidad 1/Syllabus-POO-ITI2018
	url = https://github.com/UPV-Programacion-Orientada-a-Objetos/Syllabus-POO-ITI2018.git
